[Unit]
Description=auto-cpufreq - Automatic CPU speed & power optimizer for Linux
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/auto-cpufreq --daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
